/* Top Nav-Bar */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f4f5f6;
    color: #333;
}

.page-head {
	width: 100%;
	position: sticky;
	top: 0;
	height: 50px;
	background-color: #f72310;
}

.svg1 {
	display: block;
	width: 132px;
	height: 24px;
	position: absolute;
	top: 10px;
	z-index: 2;
	fill: white;
}
.nav-tag {
	padding: 5px;
	margin: 3px;
	margin-top: 8px;
	color: bisque;
}
.nav-tag:hover {
	text-decoration: none;
	color: bisque;
}
.sub {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	font-size: 13px;
	padding: 5px;
	text-transform: uppercase;
	background-color: yellow;
	border-radius: 24px;
	text-decoration: none;
}

/* Images */ 

.top-story {
	width: 100%;
	height: auto;
}

#top-img {
	position: relative;
	width: 100%;
	height: auto;
	color: white;
}
.img {
	width: 100%;
	display: block;
}
#bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	background-color: #ececed;
	color: #f72310;
}
.top-story-head {
	color: #a8a0a0;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	line-height: 16px;
}
.top-story-head-1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	color: #000000;
}
.top-story-para {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #333333;
}

.underlist {
	border-top: 1px solid rgb(217, 217,217);
	padding: 10px 0;
}
.underlist-tag {
	text-decoration: none;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 20px;
	color: #000000;
}

.debate-1::after {
	content: "vs";
	width: 100%;
	color: black;
	border-bottom: 1px solid black;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 32px;
	color: #d6d6d6;
	background-color: black;
	width: 30px;
	height: 5px;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
}